@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  
}

@layer components {
  .btn-primary {
    @apply text-3xl bg-c_primary hover:bg-yellow-500;
  }

  .text-hover{
    @apply text-black bg-white hover:text-c_primary dark:bg-black dark:text-white dark:hover:text-c_primary;
  }

  .text-large{
    @apply font-sans text-4xl font-semibold bg-white text-c_primary dark:bg-black dark:text-c_primary ;
  }

  .text_p{
    @apply text-base font-medium leading-3 tracking-normal text-c_text_black dark:text-white;
  } 
  .text_h1{
    @apply font-black text-6xl leading-10 text-c_secondary dark:text-c_primary 
  }
  .text_h2{
    @apply text-4xl font-black leading-8 text-c_secondary dark:text-c_primary;
  }

  .text_h2_black{
    @apply text-4xl font-black leading-8 text-c_text_black dark:text-white;
  }

  .text_h3{
     @apply text-3xl font-medium leading-3 text-c_secondary dark:text-c_primary;
  }

  .text_h3_black{
    @apply text-2xl font-medium leading-3 text-c_text_black dark:text-white;
  }

  .text_h4{
    @apply text-xl font-normal leading-3 text-c_text_black dark:text-white;
  }

  .text_h5{
    @apply text-base leading-6 font-extralight text-c_text_black dark:text-white text-slate-600;
  }

  .text_h6{
    @apply text-base font-light leading-3 text-c_text_black dark:text-white;
  }

  .text-c_lg{
    @apply text-lg font-medium text-c_text_black;
  }

  .text-c_xl{
    @apply text-xl font-medium text-c_text_black;
  }

  .gradient-st{
    @apply transition duration-300 delay-150 bg-gradient-to-l from-c_secondary to-c_tertiary hover:delay-300 ;
  }

  .gradient-st-dark{
    @apply transition duration-300 delay-150 bg-gradient-to-l from-c_primary to-c_primary_dark hover:delay-300 ;
  }

  .container{
    @apply mx-auto lg:max-w-screen-xl ;
  }
  .container_2{
    @apply mx-auto lg:max-w-[1124px] ;
  }

  .border_c{
    @apply border-2 border-c_tertiary dark:border-c_primary;
  }

  .f_row {
    @apply flex flex-row;
  }
  .f_col {
    @apply flex flex-col;
  }
  .text-c_input{
    @apply h-10 my-2 border rounded-sm border-c_tertiary dark:border-c_primary ps-3 dark:bg-c_text_black;
  }
  .text-c_label{
    @apply text-base font-normal text_h3;
  }
 
  .heading_1{
    @apply text-[#0c0e0f] font-[900] text-[45px] leading-[54px] font-noto dark:text-[#cccccc];
  }

  .heading_2{
    @apply text-[#0f1113] font-[900] text-[20px] leading-[24px] font-noto dark:text-[#cccccc];
  }

  .heading_3{
    @apply text-[#212529] font-[500] text-[14px] leading-[16.6px] font-noto dark:text-[#cccccc]
  }

  .heading_4{
    @apply text-[#212529] font-[500] text-[12px] leading-[14.4px] font-noto dark:text-[#cccccc];
  }

  .tag_text{
    @apply text-[#212529] font-[500] text-[12px] leading-[12px] font-noto;
  }

  .date_text{
    @apply text-[#666666] font-[400] text-[10px] leading-[10px] font-noto dark:text-[#cccccc] uppercase;
  }

  .paragraph_text{
    @apply text-[#687385] font-[400] text-[12px] leading-[18px] font-noto dark:text-[#cccccc];
  }

  .Border{
    @apply border-[1px] border-gray-200 dark:border-gray-700;
  }


}

